<% @post_images.each do |post_image| %>
<div>
    <%= image_tag post_image.get_image %>
    <p>user:<%= image_tag 'sample-author1.jpg' %></p>
    <p>shop name:<%= post_image.shop_name %></p>
    <p>explanation:<%= post_image.caption %></p>
    <p>user name:<%= post_image.user.name %></p>
    <!---->
</div>
<% end %>