<% @post_images.each do |post_image| %>
<div>
    <%= link_to post_image_path(post_image.id) do %>
        <%= image_tag post_image.get_image %>
    <% end %>
    <!--link_toでリンク先を指定/post_image/:idでリンクができる-->
    <!--doからendがaタグで囲まれた状態になる結果aタグに囲まれたimgタグになる-->
    <p>user:<%= image_tag 'sample-author1.jpg' %></p>
    <p>shop name:<%= post_image.shop_name %></p>
    <p>explanation:<%= post_image.caption %></p>
    <p>user name:<%= post_image.user.name %></p>
    <!---->
</div>
<% end %>